<div class="loan__create">
  <section class="loan__create__form">
    <form [formGroup]="createForm" (ngSubmit)="OnSubmit()">
      <h1 class="h3 mb-3 fw-normal text-center">{{ pageTitle }}</h1>
      <div class="row">
        <div class="col-md-6 mt-4">
          <label for="firstName" class="form-label">First name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            formControlName="firstName"
          />
          <span
            class="text-danger"
            *ngIf="
              firstName?.invalid && (firstName?.touched || firstName?.dirty)
            "
          >
            Valid first name is required.
          </span>
        </div>
        <div class="col-md-6 mt-4">
          <label for="lastName" class="form-label">Last name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            formControlName="lastName"
          />
          <span
            class="text-danger"
            *ngIf="lastName?.invalid && (lastName?.touched || lastName?.dirty)"
          >
            Valid last name is required.
          </span>
        </div>
        <div class="col-md-6 mt-4">
          <label for="loanAmount" class="form-label">Loan amount</label>
          <input
            type="number"
            class="form-control"
            id="loanAmount"
            formControlName="loanAmount"
          />
          <span
            class="text-danger"
            *ngIf="
              loanAmount?.invalid && (loanAmount?.touched || loanAmount?.dirty)
            "
            >Valid loan amount is required.</span
          >
          <span class="text-danger" *ngIf="loanAmount.hasError('min')">
            Minimum $10000 allowed.</span
          >
          <span class="text-danger" *ngIf="loanAmount.hasError('max')">
            Max $1000000 allowed.</span
          >
        </div>
        <div class="col-md-6 mt-4">
          <label for="loan tenure" class="form-label">Loan tenure</label>
          <input
            type="number"
            class="form-control"
            id="loanTenure"
            formControlName="loanTenure"
          />
          <span
            class="text-danger"
            *ngIf="
              loanTenure?.invalid && (loanTenure?.touched || loanTenure?.dirty)
            "
            >Valid loan tenure is required.</span
          >
          <span class="text-danger" *ngIf="loanTenure.hasError('min')">
            Minimum 3 yrs allowed.</span
          >
          <span class="text-danger" *ngIf="loanTenure.hasError('max')">
            Max 40 yrs allowed.</span
          >
        </div>
        <div class="col-md-6 mt-4">
          <label for="propertyAddress" class="form-label"
            >Property address</label
          >
          <textarea
            class="form-control"
            id="propertyAddress"
            rows="3"
            formControlName="propertyAddress"
          ></textarea>
          <span
            class="text-danger"
            *ngIf="
              propertyAddress?.invalid &&
              (propertyAddress?.touched || propertyAddress?.dirty)
            "
            >Property address is required.</span
          >
        </div>
        <div class="col-md-6 mt-4">
          <label for="loanTypeId" class="form-label">Loan Type</label>
          <select class="form-select" formControlName="loanTypeId">
            <option selected value="-1">Select loan type</option>
            <option *ngFor="let lt of loanTypes" [value]="lt.id">
              {{ lt.type }}
            </option>
          </select>
          <span
            class="text-danger"
            *ngIf="
              loanTypeId?.invalid && (loanTypeId?.touched || loanTypeId?.dirty)
            "
            >Please select loan type first.</span
          >
        </div>
      </div>
      <div
        class="button-group d-flex justify-content-center align-items-center mt-5"
      >
        <button class="w-50 mt-3 me-2 btn btn-primary" type="submit">
          Save
        </button>
        <button
          class="w-50 mt-3 me-2 btn btn-primary"
          type="submit"
          [disabled]="editMode === true"
          (click)="OnReset()"
        >
          Reset
        </button>
      </div>
    </form>
  </section>
</div>
