<table class="table table-striped">
  <thead class="table-light">
    <tr>
      <th scope="col">Application Id</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Amount</th>
      <th scope="col">Tenure</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Pradeep</td>
      <td>Test</td>
      <td>32423</td>
      <td>32423</td>
      <td>
        <button type="button" class="button btn btn-primary">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
